{% extends 'base.html' %}
{% load static %}
{% block title %}
Bites Check -Home
{% endblock %}
{% block styles %}
<style>
    body {
      font-family: 'Inter', sans-serif;
    }
</style>
{% endblock %}


{% block content %}
        

  <!-- Register Section -->
  <section class="bg-gradient-to-r from-purple-700 via-indigo-700 to-purple-700 text-white">
    <div class="container mx-auto px-4 py-20">
      <div class="max-w-md mx-auto bg-gray-800 p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-center mb-6">Create Your Account</h2>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div style="color: #0ec435;">{{ message }}</div>
            {% else %}
                <div style="color: #c00427;">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <form action="/register" method="POST">
            {% csrf_token %}
          <div class="mb-4">
            <label for="name" class="block text-gray-300">First Name</label>
            <input type="text" id="name" name="f_name" required class="w-full px-4 py-3 mt-2 bg-gray-700 text-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div class="mb-4">
            <label for="name" class="block text-gray-300">Last Name</label>
            <input type="text" id="name" name="l_name" required class="w-full px-4 py-3 mt-2 bg-gray-700 text-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div class="mb-4">
            <label for="name" class="block text-gray-300">username</label>
            <input type="username" id="username" name="username" required class="w-full px-4 py-3 mt-2 bg-gray-700 text-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div class="mb-4">
            <label for="email" class="block text-gray-300">Email Address</label>
            <input type="email" id="email" name="email" required class="w-full px-4 py-3 mt-2 bg-gray-700 text-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div class="mb-4">
            <label for="password" class="block text-gray-300">Password</label>
            <input type="password" id="password" name="password1" required class="w-full px-4 py-3 mt-2 bg-gray-700 text-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div class="mb-6">
            <label for="confirm-password" class="block text-gray-300">Confirm Password</label>
            <input type="password" id="confirm-password" name="password2" required class="w-full px-4 py-3 mt-2 bg-gray-700 text-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          </div>
          <div class="flex items-center justify-between mb-6">
            <button type="submit" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white px-6 py-3 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 transition transform hover:scale-105">
              Register
            </button>
          </div>
        </form>
        <div class="text-center">
          <p class="text-gray-400">Already have an account? <a href="{% url 'login' %}" class="text-indigo-400 hover:text-indigo-600">Login here</a></p>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}